.crewmate {
    height: 450px;
    width: 350px;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 2px;

    color: white;
    font-size: 22px;
    font-weight: 700;
    /* background-color: lightgray; */
}

.edit:hover {
    color: aqua;
}

.image-container .image {
    height: 300px;
}

.crewmate.red {
    box-shadow: 10px 5px 10px red;
}
.crewmate.red:hover {
    box-shadow: 15px 10px 15px red;
}

.crewmate.yellow {
    box-shadow: 10px 5px 10px yellow;
}

.crewmate.yellow:hover {
    box-shadow: 15px 10px 15px yellow;
}

.crewmate.orange {
    box-shadow: 10px 5px 10px orange;
}

.crewmate.orange:hover {
    box-shadow: 15px 10px 15px orange;
}

.crewmate.green {
    box-shadow: 10px 5px 10px green;
}

.crewmate.green:hover {
    box-shadow: 15px 10px 15px green;
}

.crewmate.blue {
    box-shadow: 10px 5px 10px blue;
}

.crewmate.blue:hover {
    box-shadow: 15px 10px 15px blue;
}

.crewmate.mint {
    box-shadow: 10px 5px 10px aqua;
}

.crewmate.mint:hover {
    box-shadow: 15px 10px 15px aqua;
}

.crewmate.purple {
    box-shadow: 10px 5px 10px rgb(156, 0, 212);
}

.crewmate.purple:hover {
    box-shadow: 15px 10px 15px rgb(156, 0, 212);
}

.crewmate.black {
    box-shadow: 10px 5px 10px gray;
}

.crewmate.black:hover {
    box-shadow: 15px 10px 15px gray;
}

.crewmate.white {
    box-shadow: 10px 5px 10px white;
}

.crewmate.white:hover {
    box-shadow: 15px 10px 15px white;
}