
.navbar {
    display: flex;
    flex-direction: column;
    text-align: left;

    position: fixed;
    left: 0;
    margin-left: 30px;
    height: 100vh;
    width: 200px;
}

.nav-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
}

.nav-link:hover {
    box-shadow: inset 0px 0px 20px aqua;
}

.nav-link.active {
    color: aqua;
}